<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.CartMapper">

<insert id="addCart" parameterType="CartDTO">

<!-- 중복상품 수량추가

	insert into cart(num, userid, gCode, gName, gPrice,
					 gSize, gColor, gAmount, gImage)
	where gCode = #{gCode} and gSize= #{gSize} and gColor==#{gColor}
	<if test=" gCode==#{gCode}"and" gSize==#{gSize}" and" gColor==#{gColor}">
		values ( cart_seq.nextval, #{userid},#{gCode} ,
				 #{gName}, #{gPrice},#{gSize}, #{gColor},
				 #{gAmount}, #{gImage} )		
	</if>				 
	<if test=" gCode!=#{gCode} || gSize!=#{gSize} || gColor!=#{gColor}">
		values ( cart_seq.nextval, #{userid},#{gCode} ,
				 #{gName}, #{gPrice},#{gSize}, #{gColor},
				 #{gAmount}, #{gImage} )
	</if> -->
	
	insert into cart(num, userid, gCode, gName, gPrice,
					 gSize, gColor, gAmount, gImage)
	values ( cart_seq.nextval, #{userid},#{gCode} ,
				 #{gName}, #{gPrice},#{gSize}, #{gColor},
				 #{gAmount}, #{gImage} )

</insert>

<select id="cartList" resultType="CartDTO" parameterType="String">

	select num, userid, gCode, gName, gPrice,
		   gSize, gColor, gAmount, gImage
	from cart
	where userid=#{userid}
	order by num desc
</select>

<delete id="delCart" parameterType="int">
	delete from cart
	where num = #{num}


</delete>

<update id="amountUpdate" parameterType="hashmap">
update cart
set gAmount = #{gAmount}
where num = #{num}

</update>

    <delete id="delAllCart" parameterType="arraylist">
        delete from cart
        <where>
            num in
            <foreach item="item" index="index" collection="list" open="("
                separator="," close=")">
                #{item}
            </foreach>
        </where>
    </delete>
    
    <select id="orderConfirm" parameterType="int" resultType="cartDTO">
    select num, userid, gCode, gName, gPrice,
		    gSize, gColor, gAmount, gImage
	from cart
	where num = #{num}
    
    </select>
    
    <select id  ="orderAllConfirm" parameterType="arraylist" resultType="cartDTO">
    select num, userid, gCode, gName, gPrice,
    	   gSize, gColor, gAmount, gImage
    from cart
            <where>
            num in
            <foreach item="bb" index="index" collection="list" open="("
                separator="," close=")">
                #{bb}
            </foreach>
        </where>
    
    </select>

</mapper>